@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  height: 100px;
}
.title {
  margin: 0;
  position: absolute;
  left: 40%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: rgb(158, 147, 132);
}
nav {
  display: flex;
  justify-self: center;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #000;
}

/* Article 1 */
#article1 {
  padding: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-color: rgb(68, 68, 121);
  color: #fff;
}
.art1-title {
  font-size: 40px;
}
.art1-text {
  font-weight: bolder;
}

/* Article 2 */
#article2 {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: antiquewhite;
}
.article2-text1, .article2-text2, .article2-text3, .article2-text4 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}
h4 {
  color: rgb(113, 113, 113);
  text-indent: 10px;
}

/* Article 3 */
#article3 {
  padding: 30px;
}
.article3-text1, .article3-text2, .article3-text3, .article3-text4,
.article3-text5, .article3-text6, .article3-text7, .article3-text8 {
  margin-top: 12.5px;
  margin-bottom: 20px;
}

/* Footer */
footer {
  padding: 75px 30px 75px 30px;
  text-align: center;
  background-color: #daccb9;
}

@media screen and (min-width: 720px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  #article1 {
    grid-column: 1/3;
    background-color: rgb(68, 68, 121);
    color: #fff;
  }
  #article2 {
    display: inline-block;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #article3 {
    /* Create a grid inside #article3 */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2em, 10rem));
    grid-gap: 10px;
    grid-row: 2/3;
    justify-content: center;
  }
  .wrapper-lab1, .wrapper-lab2, .wrapper-lab3, .wrapper-lab4,
  .wrapper-lab5, .wrapper-lab6, .wrapper-lab7, .wrapper-lab8 {
    background-color: bisque;
    padding: 0 20px 0 20px;
  }
}